<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   <link type="text/css" rel="stylesheet" href="main.css"/>
   <title>Job seeker page</title>
</head>
<body>
<h1>user id is {{user_id}}</h1>
<div>
   <form action="add_education_detail" method="get">
      {% csrf_token %}
      <a href="add_education_detail">
         <button type="submit" name="user_id" value="{{user_id}}" >Add education detail</button>
      </a>
   </form>
   <form action="add_experience_detail" method="get">
      {% csrf_token %}
      <a href="add_experience_detail">
         <button type="submit" name="user_id" value="{{user_id}}" >Add experience detail</button>
      </a>
   </form>
   <form action="job_search" method="get">
      {% csrf_token %}
      <a href="job_search">
         <button type="submit" name="user_id" value="{{user_id}}" >Search for job</button>
      </a>
   </form>
</div>
</body>
</html>